html,
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
}

a {
    outline: 0;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.shadow {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
}

.icons {
    font-size: 3em;
    text-align: center;
}

.icons a {
    color: white;
    transition: opacity 100ms linear;
}

.icons a:hover {
    opacity: 0.8;
}

.icons a:focus {
    opacity: 0.8;
}

h1 {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 5em;
    margin: 0;
}